{% extends "_layouts/cp" %}

{% set title = "GraphiQL | CraftQL"|t %}

{% set content %}
    <!--
      This GraphiQL example depends on Promise and fetch, which are available in
      modern browsers, but can be "polyfilled" for older browsers.
      GraphiQL itself depends on React DOM.
      If you do not want to rely on a CDN, you can host these files locally or
      include them directly in your favored resource bunder.
    -->
    <script src="//cdn.jsdelivr.net/es6-promise/4.0.5/es6-promise.auto.min.js"></script>
    <script src="//cdn.jsdelivr.net/fetch/0.9.0/fetch.min.js"></script>
    <script src="//cdn.jsdelivr.net/react/15.4.2/react.min.js"></script>
    <script src="//cdn.jsdelivr.net/react/15.4.2/react-dom.min.js"></script>

    <!--
      These two files can be found in the npm module, however you may wish to
      copy them directly into your environment, or perhaps include them in your
      favored resource bundler.
     -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/graphiql/0.11.2/graphiql.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/graphiql/0.11.2/graphiql.min.js"></script>

    <style>
      #graphiql {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
      }
      #container {
        overflow: hidden;
      }
      #page-header, #footer {
        display: none;
      }
      .body, .content {
        position: static;
      }
      .pane {
        height: 100vh;
      }
      #main.single-pane .padded > .pane {
        overflow: visible;
      }
      .graphiql-container .topBar,
      .graphiql-container .docExplorerShow {
        background: #ebedef;
        padding: 20px 24px;
        border: none;
      }
      .graphiql-container .topBar .title {
        font-size: 24px;
        font-family: "Helvetica Neue-Light", HelveticaNeue-Light, "Helvetica Neue", HelveticaNeue, sans-serif;
        color: #da5a47;
      }
      .graphiql-container .docExplorerShow {
        color: #da5a47;
      }
      .graphiql-container .docExplorerShow:before {
        border-color: #da5a47;
      }
      .graphiql-container .toolbar-button {
        display: flex;
        align-items: center;
        color: #fff;
        background-image: linear-gradient(#da5a47, #cc5643);
        font-weight: 600;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 20, 0.1);
        height: 30px;
        border-radius: 3px;
        padding: 6px 12px;
        cursor: pointer;
        font-size: 13px;
        box-sizing: border-box;
      }
      .graphiql-container .toolbar-button:hover {
        background-image: linear-gradient(#bf503f, #b34b3b);
      }
      .graphiql-container .result-window .CodeMirror-gutters,
      .graphiql-container .variable-editor-title {
        background: #ebedef;
      }
      .CodeMirror-gutters {
        background: #fafafa;
        border-right: 0;
      }
    </style>

    <div id="graphiql">Loading...</div>
    <script>

      /**
       * This GraphiQL example illustrates how to use some of GraphiQL's props
       * in order to enable reading and updating the URL parameters, making
       * link sharing of queries a little bit easier.
       *
       * This is only one example of this kind of feature, GraphiQL exposes
       * various React params to enable interesting integrations.
       */

      // Parse the search string to get url parameters.
      var search = window.location.search;
      var parameters = {};
      search.substr(1).split('&').forEach(function (entry) {
        var eq = entry.indexOf('=');
        if (eq >= 0) {
          parameters[decodeURIComponent(entry.slice(0, eq))] =
            decodeURIComponent(entry.slice(eq + 1));
        }
      });

      // if variables was provided, try to format it.
      if (parameters.variables) {
        try {
          parameters.variables =
            JSON.stringify(JSON.parse(parameters.variables), null, 2);
        } catch (e) {
          // Do nothing, we want to display the invalid JSON as a string, rather
          // than present an error.
        }
      }

      // When the query and variables string is edited, update the URL bar so
      // that it can be easily shared
      function onEditQuery(newQuery) {
        parameters.query = newQuery;
        updateURL();
      }

      function onEditVariables(newVariables) {
        parameters.variables = newVariables;
        updateURL();
      }

      function onEditOperationName(newOperationName) {
        parameters.operationName = newOperationName;
        updateURL();
      }

      function updateURL() {
        var newSearch = '?' + Object.keys(parameters).filter(function (key) {
          return Boolean(parameters[key]);
        }).map(function (key) {
          return encodeURIComponent(key) + '=' +
            encodeURIComponent(parameters[key]);
        }).join('&');
        history.replaceState(null, null, newSearch);
      }

      // Defines a GraphQL fetcher using the fetch API. You're not required to
      // use fetch, and could instead implement graphQLFetcher however you like,
      // as long as it returns a Promise or Observable.
      function graphQLFetcher(graphQLParams) {
        // This example expects a GraphQL server at the path /graphql.
        // Change this to point wherever you host your GraphQL server.
        return fetch('{{ url }}', {
          method: 'post',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'Authorization': 'Bearer {{ token }}',
          },
          body: JSON.stringify(graphQLParams),
          credentials: 'include',
        }).then(function (response) {
          console.log('response', response);
          return response.text();
        }).then(function (responseBody) {
          try {
            return JSON.parse(responseBody);
          } catch (error) {
            return responseBody;
          }
        });
      }

      // Render <GraphiQL /> into the body.
      // See the README in the top level of this module to learn more about
      // how you can customize GraphiQL by providing different values or
      // additional child elements.
      ReactDOM.render(
        React.createElement(GraphiQL, {
          fetcher: graphQLFetcher,
          schema: undefined,
          query: parameters.query,
          variables: parameters.variables,
          operationName: parameters.operationName,
          onEditQuery: onEditQuery,
          onEditVariables: onEditVariables,
          onEditOperationName: onEditOperationName
        }),
        document.getElementById('graphiql')
      );
    </script>
{% endset %}