{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Token Scope"|t %}

{% set content %}
<style>
.clearfix::after {
    content: '';
    display: table;
    clear: both;
    overflow: hidden;
}
.scope-block {
    float: left;
}
.lightswitch-label {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 0 1px #e3e5e8;
    border-radius: 4px;
    margin-top: -22px;
    margin-right: 22px;
    float: left;
    display: flex;
    align-items: flex-end;
    padding: 15px;
    font-weight: bold;
}
.lightswitch.on + .lightswitch-label {
    color: green;
    box-shadow: 0 0 0 1px green;
}
.lightswitch {
    left: calc((150px - 33px) / 2);
    top: 30px;
}
.lightswitch-label-small {
    text-transform: uppercase;
    font-size: 10px;
    color: #999;
    font-weight: 300;
    letter-spacing: 0.5px;
}
</style>
<h2>Name</h2>
{{ forms.textField({
    first: true,
    name: 'name',
    value: token.name,
    instructions: 'A descriptive label for this token',
}) }}

<hr>

<h2>Entry Types</h2>
<div class="field first last"><div class="heading"><div class="instructions"><p>Only the enabled entry types will be visible in the GraphQL schema.</p></div></div></div>

<ul class="clearfix">
    {% for section in craft.sections.getAllSections() %}
        {% for entryType in section.entryTypes %}
            <li class="scope-block">
                {{ forms.lightswitch({"name": "scope[query:entryType:" ~ entryType.id ~ "]", "on": token.isWritable}) }}
                <div class="lightswitch-label">
                    <div>
                        <p><small class="lightswitch-label-small">{{ section.name }}</small><br>{{ entryType.name }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}
    {% endfor %}
</ul>

<hr>

<h2>Fields</h2>
<div class="field first last"><div class="heading"><div class="instructions"><p>Enable top level GraphQL fields.</p></div></div></div>

<ul class="clearfix">
    <li class="scope-block">
        {{ forms.lightswitch({"name": "scope[query:users]", "on": token.isWritable}) }}
        <div class="lightswitch-label">
            <div>
                <p>Entries</p>
            </div>
        </div>
    </li>
    <li class="scope-block">
        {{ forms.lightswitch({"name": "scope[query:users]", "on": token.isWritable}) }}
        <div class="lightswitch-label">
            <div>
                <p>Users</p>
            </div>
        </div>
    </li>
    <li class="scope-block">
        {{ forms.lightswitch({"name": "scope[query:users]", "on": token.isWritable}) }}
        <div class="lightswitch-label">
            <div>
                <p>Sections</p>
            </div>
        </div>
    </li>
    <li class="scope-block">
        {{ forms.lightswitch({"name": "scope[query:users]", "on": token.isWritable}) }}
        <div class="lightswitch-label">
            <div>
                <p>Fields</p>
            </div>
        </div>
    </li>
    <li class="scope-block">
        {{ forms.lightswitch({"name": "scope[query:users]", "on": token.isWritable}) }}
        <div class="lightswitch-label">
            <div>
                <p>Globals</p>
            </div>
        </div>
    </li>
</ul>

<hr>

<h2>Mutation</h2>
<div class="field first last"><div class="heading"><div class="instructions"><p>Enable the entry types that should be editable through GraphQL.</p></div></div></div>

<ul>
    <li class="scope-block">
        {{ forms.lightswitch({"name": "scope[query:users]", "on": token.isWritable}) }}
        <div class="lightswitch-label">
            <div>
                <p>Mutation</p>
            </div>
        </div>
    </li>
</ul>
<button class="btn">Save</button>
{% endset %}