{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}
{% set title = "Token Scopes"|t %}
{% set crumbs = [
    {'label': 'Settings', 'url': url('settings')},
    {'label': 'Plugins', 'url': url('settings/plugins')},
    {'label': 'CraftQL', 'url': url('settings/plugins/craftql')},
] %}

{% set content %}
<style>
    table.editable tbody tr td {
        text-align: left;
    }
    .fieldlayoutform {
        text-transform: none;
    }
    .fieldlayoutform h2 {
        text-transform: uppercase;
    }
</style>
<div class="fieldlayoutform">
    <h2>Try it out</h2>
    <p>You can explore your API with the permissions of this token in <a href="{{ url('craftql/browse/' ~ token.token ) }}">GraphiQL</a>.
</div>

<hr>

<h2>Name</h2>
{{ forms.textField({
    first: true,
    name: 'token[name]',
    value: token.name,
    instructions: 'A descriptive label for this token',
}) }}

<hr>

<div class="field">
    <h2>Query Fields</h2>
    <div class="field first last"><div class="heading"><div class="instructions"><p>Enable top level GraphQL fields when accessed through this token.</p></div></div></div>

    <table id="sites" class="shadow-box editable">
        <thead>
            <tr>
                <th scope="col" class="thin">Field Name</th>
                <th scope="col">Description</th>
                <th scope="col" class="thin"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-id="default">
                <th>sites</th>
                <td>Query any sites.</td>
                <td>{{ forms.lightswitch({"name": "scope[query:sites]", "value": 1, "on": token.can('query:sites'), "small": true}) }}</td>
            </tr>
            <tr data-id="default">
                <th>entries</th>
                <td>Query any entry type that is enabled, below.</td>
                <td>{{ forms.lightswitch({"name": "scope[query:entries]", "value": 1, "on": token.can('query:entries'), "small": true}) }}</td>
            </tr>
            <tr data-id="default">
                <th>entries.author</th>
                <td>Access to users through an entries author field</td>
                <td>{{ forms.lightswitch({"name": "scope[query:entry.author]", "value": 1, "on": token.can('query:entry.author'), "small": true}) }}</td>
            </tr>
            <tr data-id="default">
                <th>assets</th>
                <td>Query any assets.</td>
                <td>{{ forms.lightswitch({"name": "scope[query:assets]", "value": 1, "on": token.can('query:assets'), "small": true}) }}</td>
            </tr>
            <tr data-id="default">
                <th>globals</th>
                <td>Query any globals.</td>
                <td>{{ forms.lightswitch({"name": "scope[query:globals]", "value": 1, "on": token.can('query:globals'), "small": true}) }}</td>
            </tr>
            <tr data-id="default">
                <th>categories</th>
                <td>Query any category.</td>
                <td>{{ forms.lightswitch({"name": "scope[query:categories]", "value": 1, "on": token.can('query:categories'), "small": true}) }}</td>
            </tr>
            <tr data-id="default">
                <th>tags</th>
                <td>Query any tag.</td>
                <td>{{ forms.lightswitch({"name": "scope[query:tags]", "value": 1, "on": token.can('query:tags'), "small": true}) }}</td>
            </tr>
            <tr data-id="default">
                <th>users</th>
                <td>Query the Craft users. Note: this only affects the ability to search users.</td>
                <td>{{ forms.lightswitch({"name": "scope[query:users]", "value": 1, "on": token.can('query:users'), "small": true}) }}</td>
            </tr>
            <tr data-id="default">
                <th>users.permissions</th>
                <td>Query a user&rsquo;s permissions.¢</td>
                <td>{{ forms.lightswitch({"name": "scope[query:userPermissions]", "value": 1, "on": token.can('query:userPermissions'), "small": true}) }}</td>
            </tr>
            <tr data-id="default">
                <th>sections</th>
                <td>Query the sections (and nested Entry Types) that have been enabled below.</td>
                <td>{{ forms.lightswitch({"name": "scope[query:sections]", "value": 1, "on": token.can('query:sections'), "small": true}) }}</td>
            </tr>
            <tr data-id="default">
                <th>fields</th>
                <td>Query a field's instructions and options. Note: this will return all fields, regardless of whether it is used in an entry type that has been disabled.</td>
                <td>{{ forms.lightswitch({"name": "scope[query:fields]", "value": 1, "on": token.can('query:fields'), "small": true}) }}</td>
            </tr>
        </tbody>
    </table>
</div>

<hr>

<div class="field">
    <h2>Queries</h2>
    <div class="field first last"><div class="heading"><div class="instructions"><p>Only the enabled entry types will be visible in the GraphQL schema.</p></div></div></div>

    <table id="sites" class="shadow-box editable">
        <thead>
            <tr>
                <th scope="col" class="thin">Type</th>
                <th scope="col">Section</th>
                <th scope="col">Entry Type</th>
                <th scope="col" class="thin"></th>
            </tr>
        </thead>
        <tbody>
            {% for section in craft.app.sections.allSections %}
                {% for entryType in section.entryTypes %}
                    <tr data-id="default">
                        <th>{{ section.type|ucfirst }}</th>
                        <td>{{ section.name }}</td>
                        <td>{{ entryType.name }}</td>
                        <td>{{ forms.lightswitch({"name": "scope[query:entryType:" ~ entryType.id ~ "]", "value": 1, "on": token.can("query:entryType:" ~ entryType.id), "small": true}) }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

<hr>

<div class="field">
    <h2>Mutation Fields</h2>
    <div class="field first last"><div class="heading"><div class="instructions"><p>Enable top level GraphQL mutations when accessed through this token.</p></div></div></div>

    <table id="sites" class="shadow-box editable">
        <thead>
            <tr>
                <th scope="col" class="thin">Field Name</th>
                <th scope="col">Description</th>
                <th scope="col" class="thin"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-id="default">
                <td>users</td>
                <td>Add and update users</td>
                <td>{{ forms.lightswitch({"name": "scope[mutate:users]", "value": 1, "on": token.can("mutate:users"), "small": true}) }}</td>
            </tr>
            <tr data-id="default">
                <td>user.permissions</td>
                <td>Set user permissions</td>
                <td>{{ forms.lightswitch({"name": "scope[mutate:userPermissions]", "value": 1, "on": token.can("mutate:users"), "small": true}) }}</td>
            </tr>
            <tr data-id="default">
                <td>globals</td>
                <td>Update global field sets</td>
                <td>{{ forms.lightswitch({"name": "scope[mutate:globals]", "value": 1, "on": token.can("mutate:globals"), "small": true}) }}</td>
            </tr>
        </tbody>
    </table>
</div>

<hr>

<div class="field">
    <h2>Mutations</h2>
    <div class="field first last"><div class="heading"><div class="instructions"><p>Enable the entry types that should be editable through GraphQL.</p></div></div></div>

    <table id="sites" class="shadow-box editable">
        <thead>
            <tr>
                <th scope="col" class="thin">Type</th>
                <th scope="col">Section</th>
                <th scope="col">Entry Type</th>
                <th scope="col" class="thin"></th>
            </tr>
        </thead>
        <tbody>
            {% for section in craft.app.sections.allSections %}
                {% for entryType in section.entryTypes %}
                    <tr data-id="default">
                        <th>{{ section.type|ucfirst }}</th>
                        <td>{{ section.name }}</td>
                        <td>{{ entryType.name }}</td>
                        <td>{{ forms.lightswitch({"name": "scope[mutate:entryType:" ~ entryType.id ~ "]", "value": 1, "on": token.can("mutate:entryType:" ~ entryType.id), "small": true}) }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

{#
<hr>

<div class="field">
    <h2>Throttling</h2>
    <div class="field first last"><div class="heading"><div class="instructions"><p>Throttling is handled by calculating the "cost" of a GraphQL query. The cost is determined by the total <em>possible</em> elements returned by a query. For example a call to <code>{ entries { ... } }</code> will cost 100 points because, unbounded, the entries field is limited to 100 results. If you pass <code>{ entries(limit:5) { ... } }</code> then the cost will only be 5 points.</em>. Throttling limits are per hour.</p></div></div></div>

    {{ forms.textField({
        first: true,
        name: 'token[throttling]',
        value: 50000,
    }) }}
</div>
#}

{% endset %}

{% set extraPageHeaderHtml %}
<input type="submit" class="btn submit" value="Save">
{% endset %}