{% import "_includes/forms" as forms %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<style>
.hljs {
    background: none;
    padding: 0;
}
.breakall {
    word-break: break-all;
}
</style>

{% set welcome %}
_CraftQL_ exposes the configuration of this Craft website to a [GraphQL](http://graphql.org) API. Without any additional configuration all your sections, assets, categories, and tags can be queried using the native GraphQL syntax.

For example, if you had a section named `news` you could ask _CraftQL_ for five recent entries while limiting the response to only the uri, title, and body fields. _CraftQL_ would then respond with a JSON structure matching the query structure, populated with only the requested data.

<div style="background: whiteSmoke; overflow: hidden;">
<div style="float:left; width: 40%; padding: 15px; box-sizing: border-box;">
<p><strong>Query</strong></p>
<pre><code>{
  entries(limit:5) {
    ...on News {
      uri
      title
      body
    }
  }
}</code></pre>
</div>
<div style="float:left; width: 50%; border-left: 1px solid #fff; padding: 15px; box-sizing: border-box;">
<p><strong>Response</strong></p>
<pre><code class="json">{
  "data": {
    "entries": [
      {
        "uri": "news/a-news-article",
        "title": "A News Article",
        "body": "&lt;p>This is the body&hellip;&lt;/p>"
      },
      // ...
    ]
  }
}</code></pre>
</div>
</div>

## Getting started

You can access your GraphQL endpoint in two ways,

1. **[GraphiQL]({{ url('craftql/browse') }})** <p>will show you a graphical interface to GraphQL. Use it to explore your schema and test requests. Click _Docs_ in the upper right hand corner to see all the fields you can query against.</p>

2. **Curl**
{% if settings.tokens|length %}<p>You can query your schema directly by passing a GraphQL statement throuh a `query` variable. The following Curl statement should get you started,</p>
<p><pre style="background: whiteSmoke; padding: 15px;"><code class="shell">$ curl -H "Authorization: bearer {{ settings.tokens[0].token|default('{TOKEN}') }}" -H "Content-type: application/json" -d '{"query":"{ helloWorld }"}' {{ siteUrl }}{{ settings.uri }}</code></pre></p>
{% else %}
<p>Before you can use Curl you need to [add a token]({{ url('craftql/token-gen') }}) for authenticated access in to Craft.</p>
{% endif %}
{% endset %}

<div class="" style="width: 70%">
    {{ welcome|md }}
</div>

    <hr>

<div class="" style="width: 70%">
    <h2>URI</h2>

    {{ forms.textField({
        first: true,
        name: 'uri',
        value: settings.uri,
        instructions: 'The URI to the GraphQL service. Typically this is `api` but you can override it with your own preference.',
    }) }}

    <h2>Tokens</h2>
    <p>Tokens control access in to your API. Instead of authenticating with a username and password, API access is granted via a token. Treat this token like a password because it provides privileged access in to your Craft website.</p>

    <p><a href="{{ url('craftql/token-gen') }}">Generate a new token</a> (for my user)</p>

    {% if settings.tokens|length > 0 %}
    <table class="data fullwidth">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Token</th>
                <th scope="thin"></th>
                <td class="thin"></td>
            </tr>
        </thead>
        {% for token in settings.tokens %}
            <tr>
                <td><input type="text" name="token[{{ token.id }}][name]" class="text" placeholder="Name..." value="{{ token.name }}" /></td>
                <td class="breakall">{{ token.token }}</td>
                <td><a href="{{ url('craftql/token/' ~ token.id ~ '/scopes') }}">Scopes&hellip;</a></td>
                <td><a class="delete icon" title="Delete" role="button" href="{{ url('craftql/token-del/' ~ token.id) }}"></a></td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

<script>hljs.initHighlightingOnLoad();</script>